.navbar-container{
    background-color: #14181c;
    padding: 0;
}

main{
    padding:  10% 18.5%;
}

/* ============================= */
/*   CONTAINER STYLING */
/* ============================= */

.contact-container{
    display: flex;
    justify-content: center;
}

.contact-container .contact-poster{
    width: 20%;
    max-height: fit-content;
    border-radius:6px ;
    box-shadow: 0px 10px 6px 0px rgba(0,0,0,0.81);
    border: 1px solid ghostwhite;
    cursor: pointer;
}

.contact-text{
    padding-left: 8%;
}

.contact-text h2{
    font-family: "Graphik Web Regular Regular";
    font-size: 40px;
    font-weight: 300;
    color: #ffffff;
    line-height: 40px;
    letter-spacing: 0;
    margin-top: 3px;
}

.contact-text p{
    font-family: "Graphik Web Regular Regular";
    font-size: 17px;
    font-weight: 400;
    color: #99aabb;
    line-height: 25.5px;
    letter-spacing: 0;
    text-align: justify;
    width: 95%;
}

.contact-text .contact-form{
    display: flex;
    align-items: center;
}

.contact-form form{
    width: 40%;
    background-color: #556677;
    padding:35px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

form label {
    font-family: "Graphik Web Regular Regular";
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    line-height: 18px;
    letter-spacing: 0;
    display: block;
    margin-bottom: 8px;
}

form input, form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #ccddee;
    border-radius: 5px;
    font-size: 18px;
    color: black;
}

form textarea{
    resize: none;
    height: 100px;
}

form .contact-btn {
    background-color: #00b3ff;
    font-family: "Graphik Web Semibold Regular";
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 17px;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in-out;
}

form .contact-btn:hover {
    background-color: #008ecc;
    cursor: pointer;
    transform: scale(1.05);
}

form input:focus, form textarea:focus {
    border: 1px solid black;
    outline: none;
    background-color: #ffffff;
}

.contact-form .other-contact{
    width: 35%;
    background-color: #556677;
    padding:5px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 5%;
}

.contact-form .other-contact h4{
    font-family: "Graphik Web Semibold Regular";
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    line-height: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.other-contact .contact-info{
    display: inline-flex;
    align-items: center;
}
.other-contact img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.other-contact a{
    font-family: "Graphik Web Regular Regular";
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    line-height: 18px;
    letter-spacing: 0;
    text-decoration: none;
}

.other-contact a:hover{
    text-decoration: underline;
    color: #00b3ff;
}

.other-contact img:hover{
    transform: scale(1.15);
    
}
    